<div class="social__wrapper">
  <div class="social">
    <div class="social__content">
      <div class="section__title">Социальные сети</div>
      <div class="social__text">
        Следите за нами в социальных сетях. Узнавайте первым о новых
        акциях.Будьте в курсе всех новостей
      </div>
      <div class="social__icons">
        <img class="icon-item" src="assets/icons/vk.svg" />
        <img class="icon-item" src="assets/icons/instagram.svg" />
        <img class="icon-item" src="assets/icons/youtube.svg" />
        <img class="icon-item" src="assets/icons/telegram.svg" />
      </div>
    </div>
    <div class="social__image"><img src="assets/images/social-img.png" /></div>
  </div>
</div>
