<section class="about__wrapper">
  <div class="about">
    <div class="about__content">
      <div class="content__title">Компания ЛБР-ДИЗЕЛЬ сегодня</div>
      <div class="content__subtitle">
        Компания ЛБР-Дизель стала первой и остается уже 16 лет
        единственной компанией в Москве, запустившей ремонт насос форсунок на
        уровне Лаборатории. На сегодняшний день мы обладаем самым точным 
        диагностическим и прецизионным оборудованием, часть которого
        - усовершенствованная дилерская!
      </div>
      <div class="content__button">Наши направления</div>
    </div>
    <div class="about__cards">
      <div class="about__card-item">
        <div class="card__image">
          <img src="assets/images/about-card01.png" alt="" />
        </div>
        <div class="card__title"><span>16 лет</span> опыта</div>
        <div class="card__text">
          За 16 лет нашиими клиентами стали 47 регионов РФ, Казахстан,
          Белоруссия и др
        </div>
        <div class="card__counter">01</div>
      </div>
      <div class="about__card-item">
        <div class="card__image">
          <img src="assets/images/about-card02.png" alt="" />
        </div>
        <div class="card__title"><span>Официальная гарантия</span></div>
        <div class="card__text">
          На руки – гарантия 6 мес, тест-планы (паспорт ремонта) закрывающие
          документы, рекомендации по топливной системе
        </div>
        <div class="card__counter">02</div>
      </div>
      <div class="about__card-item">
        <div class="card__image">
          <img src="assets/images/about-card03.png" alt="" />
        </div>
        <div class="card__title"><span>Клиентский сервис</span></div>
        <div class="card__text">
          Человеческое отношение, когда всё честно и прозрачно. Делаем только
          объективную диагностику без навязывания лишних работ.
        </div>
        <div class="card__counter">03</div>
      </div>
      <div class="about__card-item">
        <div class="card__image">
          <img src="assets/images/about-card04.png" alt="" />
        </div>
        <div class="card__title"><span>Оперативность</span> - наша стихия!</div>
        <div class="card__text">
          С точным оборудованием и правильно обученными "руками" - запчасти
          форсунок идеально восстанавливаются! Ремонт производится в течение 2-3
          дней, в зависимости от модели форсунок и уровня их износа.
        </div>
        <div class="card__counter">04</div>
      </div>
    </div>
  </div>
</section>
