<section class="about__wrapper">
  <div class="about">
    <div class="about__content">
      <div class="content__title">Компания ЛБР-ДИЗЕЛЬ сегодня</div>
      <div class="content__subtitle">
        Компания ЛБР-Дизель стала первой и остается уже 15 лет
        единственной компанией в Москве, запустившей ремонт насос форсунок на
        уровне Лаборатории. На сегодняшний день мы обладаем самым точным 
        диагностическим и прецизионным оборудованием, часть которого
        - усовершенствованная дилерская!
      </div>
      <div class="content__button">Наши направления</div>
    </div>
    <div class="about__cards">
      <div class="about__card-item">
        <div class="card__image">
          <img src="assets/images/about-card01.png" alt="" />
        </div>
        <div class="card__title"><span>9000</span> форсунок в год</div>
        <div class="card__text">
          За много лет лабораторных исследований и инженерных изыскний, мы
          добились качества нового изделия по цене на 30% ниже по сравнению с
          установкой новых запчастей. И считаем это своим главным достижением.
        </div>
        <div class="card__counter">01</div>
      </div>
      <div class="about__card-item">
        <div class="card__image">
          <img src="assets/images/about-card01.png" alt="" />
        </div>
        <div class="card__title"><span>9000</span> форсунок в год</div>
        <div class="card__text">
          За много лет лабораторных исследований и инженерных изыскний, мы
          добились качества нового изделия по цене на 30% ниже по сравнению с
          установкой новых запчастей. И считаем это своим главным достижением.
        </div>
        <div class="card__counter">01</div>
      </div>
      <div class="about__card-item">
        <div class="card__image">
          <img src="assets/images/about-card01.png" alt="" />
        </div>
        <div class="card__title"><span>9000</span> форсунок в год</div>
        <div class="card__text">
          За много лет лабораторных исследований и инженерных изыскний, мы
          добились качества нового изделия по цене на 30% ниже по сравнению с
          установкой новых запчастей. И считаем это своим главным достижением.
        </div>
        <div class="card__counter">01</div>
      </div>
      <div class="about__card-item">
        <div class="card__image">
          <img src="assets/images/about-card01.png" alt="" />
        </div>
        <div class="card__title"><span>9000</span> форсунок в год</div>
        <div class="card__text">
          За много лет лабораторных исследований и инженерных изыскний, мы
          добились качества нового изделия по цене на 30% ниже по сравнению с
          установкой новых запчастей. И считаем это своим главным достижением.
        </div>
        <div class="card__counter">01</div>
      </div>
    </div>
  </div>
</section>
