.ba__wrapper {
  margin-bottom: 130px;
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  & .ba__title {
    width: 100%;
    max-width: 1312px;
    color: rgb(29, 32, 35);
    font-family: "Exo 2";
    font-size: 44px;
    font-weight: 800;
    text-align: left;
  }
  & .ba__subtitle {
    width: 100%;
    max-width: 1312px;
    border-radius: 8px;
    color: rgb(51, 51, 51);
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    padding: 4px 10px;
    text-align: left;
    background: rgb(220, 234, 248);
    margin-bottom: 30px;
    max-width: fit-content;
  }
  & .ba {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    & .ba__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 384px;
      & .ba__content-title {
        width: 100%;
        max-width: 1312px;
        border-radius: 8px;
        color: rgb(51, 51, 51);
        font-family: "Exo 2";
        font-size: 20px;
        font-weight: 300;
        padding: 4px 10px;
        text-align: left;
        background: rgb(220, 234, 248);
        margin-bottom: 30px;
        max-width: fit-content;
      }
    }
    & .ba__slider {
      margin-top: 30px;
    }
  }
}

.placements__logo-container {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid rgb(59, 64, 106);
  border-radius: 170px;
  backdrop-filter: blur(14px);
  background: rgba(242, 243, 247, 0.3);
}

.main-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: rgb(255, 255, 255);
  font-weight: 700;
  color: rgb(29, 32, 35);
  font-family: "Exo 2";
  text-align: center;
  display: flex;
  flex-direction: column;
  & p:nth-child(1) {
    font-size: 44px;
    line-height: 65%;
  }
  & p:nth-child(2) {
    font-size: 32px;
    line-height: 105%;
  }
  & p:nth-child(3) {
    font-size: 16px;
    line-height: 105%;
  }
}

.logo-item {
  position: absolute;
  width: 105px;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-item img {
  display: block;
}

.audience-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  color: rgba(235, 238, 244, 0.75);
  font-family: "Exo 2";
  font-size: 12.27px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: 0%;
  box-sizing: border-box;
  border: 1px solid rgb(55, 58, 85);
  border-radius: 5px;
  backdrop-filter: blur(74px);
  background: rgb(138, 137, 163);
  text-align: left;
  padding: 3px 6px;
}

.logo-item:nth-child(2) {
  top: 90px;
  left: 32px;
  transform: translate(-50%, -100%);
}
.logo-item:nth-child(3) {
  top: 185px;
  left: 0px;
  transform: translate(-50%, -100%);
}
.logo-item:nth-child(4) {
  top: 270px;
  left: 32px;
  transform: translate(-50%, -100%);
}
.logo-item:nth-child(5) {
  bottom: -100px;
  left: 139px;
  transform: translate(-50%, -100%);
}
.logo-item:nth-child(6) {
  top: 89px;
  right: -80px;
  transform: translate(-50%, -100%);
}
.logo-item:nth-child(7) {
  top: 170px;
  right: -100px;
  transform: translate(-50%, -100%);
}
.logo-item:nth-child(8) {
  top: 235px;
  right: -85px;
  transform: translate(-50%, -100%);
}
.placements__bg {
  overflow: hidden;
}
.placements__bg img {
  position: relative;
  top: -20px;
  animation: spin 15s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
