<div class="ba__wrapper">
  <div class="ba__title">До и после</div>
  <div class="ba__subtitle">Наглядная демонстрация наших возможностей</div>
  <div class="ba">
    <div class="ba__content">
      <div class="ba__content-title">Работаем со всеми марками машин</div>
      <div class="placements__logo-container">
        <div class="main-logo">
          <p>~900</p>
          <p>форсунок</p>
          <p>в месяц</p>
        </div>
        <div class="logo-item">
          <img src="assets/images/placements/01.svg" alt="Logo 1" />
        </div>
        <div class="logo-item">
          <img src="assets/images/placements/02.svg" alt="Logo 2" />
        </div>
        <div class="logo-item">
          <img src="assets/images/placements/03.svg" alt="Logo 3" />
        </div>
        <div class="logo-item">
          <img src="assets/images/placements/04.svg" alt="Logo 4" />
        </div>
        <div class="logo-item">
          <img src="assets/images/placements/05.svg" alt="Logo 5" />
        </div>
        <div class="logo-item">
          <img src="assets/images/placements/06.svg" alt="Logo 6" />
        </div>
        <div class="logo-item">
          <img src="assets/images/placements/07.svg" alt="Logo 7" />
        </div>
        <div class="placements__bg">
          <img src="assets/images/placements-bg.png" />
        </div>
      </div>
    </div>
    <div class="ba_slider">
      <p-splitter
        [style]="{ height: '324px', width: '684px' }"
        styleClass="mb-5"
      >
        <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
            фото до
          </div>
        </ng-template>
        <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">
            фото после
          </div>
        </ng-template>
      </p-splitter>
    </div>
  </div>
</div>
