<div class="direction__wrapper">
  <div class="direction__title">Направления деятельности</div>
  <div class="direction__subtitle">
    Работаем надежно и комплексно для лучшего сервиса наших клиентов!
  </div>
  <div class="direction">
    <p-tabView>
      <p-tabPanel header="Топливное напрапвление">
        <div class="direction__tabs-wrapper">
          <div class="direction__tab-item">
            <div class="item__title">Ремонт клапанов</div>
            <ul class="item__desc">
              <li class="desc__item">диагностика и ремонт насос-форсунок</li>
              <li class="desc__item">
                проверку детали на соответствие стандартам;
              </li>
              <li class="desc__item">проверки состояния распылителя;</li>
              <li class="desc__item">по потребности шлифовку или замену</li>
            </ul>
          </div>
          <div class="direction__tab-item">
            <div class="item__title">Ремонт насос-форсунок</div>
            <ul class="item__desc">
              <li class="desc__item">диагностика и ремонт насос-форсунок</li>
              <li class="desc__item">
                проверку детали на соответствие стандартам;
              </li>
              <li class="desc__item">проверки состояния распылителя;</li>
              <li class="desc__item">по потребности шлифовку или замену</li>
            </ul>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Лазерное направление">
        <div class="direction__tabs-wrapper">
          <div class="direction__tab-item">
            <div class="item__title">Производство лазерного оборудования</div>
            <ul class="item__desc">
              <li class="desc__item">диагностика и ремонт насос-форсунок</li>
              <li class="desc__item">
                проверку детали на соответствие стандартам;
              </li>
              <li class="desc__item">проверки состояния распылителя;</li>
              <li class="desc__item">по потребности шлифовку или замену</li>
            </ul>
          </div>
          <div class="direction__tab-item">
            <div class="item__title">Лазерная напайка</div>
            <ul class="item__desc">
              <li class="desc__item">диагностика и ремонт насос-форсунок</li>
              <li class="desc__item">
                проверку детали на соответствие стандартам;
              </li>
              <li class="desc__item">проверки состояния распылителя;</li>
              <li class="desc__item">по потребности шлифовку или замену</li>
            </ul>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Стендовое направление">
        <div class="direction__tabs-wrapper">
          <div class="direction__tab-item">
            <div class="item__title">Комбоксы</div>
            <ul class="item__desc">
              <li class="desc__item">диагностика и ремонт насос-форсунок</li>
              <li class="desc__item">
                проверку детали на соответствие стандартам;
              </li>
              <li class="desc__item">проверки состояния распылителя;</li>
              <li class="desc__item">по потребности шлифовку или замену</li>
            </ul>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
