<div class="hero__wrapper">
  <div class="hero">
    <div class="hero__top-section">
      <div class="hero__item">
        <img src="" />
        <div class="hero__item-title">
          Производство стендового оборудования для рем. топ. аппаратуры
        </div>
      </div>
      <div class="hero__item">
        <img src="" />
        <div class="hero__item-title">
          Производство стендового оборудования для рем. топ. аппаратуры
        </div>
      </div>
    </div>
    <div class="hero__middle-section">
      <div class="hero__item">
        <img src="" />
        <div class="hero__item-title">
          Производство стендового оборудования для рем. топ. аппаратуры
        </div>
      </div>
      <div class="hero__item">
        <img src="" />
        <div class="hero__item-title">
          Производство стендового оборудования для рем. топ. аппаратуры
        </div>
      </div>
    </div>
    <div class="hero__bottom-section">
      <div class="hero__item">
        <img src="" />
        <div class="hero__item-title">
          Производство стендового оборудования для рем. топ. аппаратуры
        </div>
      </div>
    </div>
  </div>
</div>
