<div class="hero__wrapper">
  <div class="hero">
    <div class="hero__top-section">
      <div class="hero__item">
        <img src="assets/images/hero05.jpg" />
        <div class="hero__item-title">
          Ремонт деталей машин посредством лазерной наплавки
        </div>
      </div>
      <div class="hero__item">
        <img src="assets/images/hero04.jpg" />
        <div class="hero__item-title">
          Производство стендового оборудования для ремонта топливной аппаратуры
        </div>
      </div>
    </div>
    <div class="hero__middle-section">
      <div class="hero__item">
        <img src="assets/images/hero01.jpg" />
        <div class="hero__item-title">Производство лазер оборудования</div>
      </div>
      <div class="hero__item">
        <img src="assets/images/hero03.jpg" />
        <div class="hero__item-title">Ремонт топливной аппаратуры</div>
      </div>
    </div>
    <div class="hero__bottom-section">
      <div class="hero__item">
        <img src="assets/images/hero06.jpeg" />
        <div class="hero__item-title">
          Обучение по всем направлениям компании
        </div>
      </div>
    </div>
  </div>
</div>
