<div class="steps__wrapper">
  <div class="steps__title">Этапы работы</div>
  <div class="steps__subtitle">
    Работаем в несколько этапов, обеспечивая наилучшее качество ремонта!
  </div>
  <div class="steps">
    <div class="step__item">
      <div class="step__counter">1</div>
      <div class="step__title">Механическая диагностика</div>
      <ul class="step__list">
        <li class="list__item">наружный осмотр</li>
        <li class="list__item">разборка форсунки</li>
        <li class="list__item">
          осмотр и дефектовка форсуночной части (проставка, распылитель,
          пружина)
        </li>
        <li class="list__item">проверка гидроплотности клапанного узла</li>
        <li class="list__item">
          проверка регулировок клапанного узла посредством специального
          электронного прибора
        </li>
        <li class="list__item">
          разборка клапанного узла, его визуальный осмотр и дефектовка
        </li>
      </ul>
    </div>
    <div class="step__item">
      <div class="step__counter">2</div>
      <div class="step__title">Стендовые испытани</div>
      <ul class="step__list">
        <li class="list__item">
          Каждая форсунка проходит индивидуальную проверку 
        </li>
        <li class="list__item">
          По каждой выдается подробный тест-план с результатами испытаний
        </li>
        <li class="list__item">
          По итогам определяем – какие из форсунок нуждаются в ремонте и в
          каком объеме
        </li>
      </ul>
    </div>
    <div class="step__item">
      <div class="step__counter">3</div>
      <div class="step__title">Регулировка форсунок (форсуночной части)</div>
      <ul class="step__list">
        <li class="list__item">
          В случаях, когда распылитель в норме, а клапан форсунки не
          существенно отклонен от необходимых параметров, мы пробуем устранить
          проблему не прибегая к дорогостоящей замене клапана.
        </li>
      </ul>
    </div>
    <div class="step__item">
      <div class="step__counter">4</div>
      <div class="step__title">Замена распылителей</div>
      <ul class="step__list">
        <li class="list__item">
          Если клапан в норме, но диагностика указала на вышедший из
          строя распылитель - осуществляется замена распылителя на
          новый оригинальный (Bosch, Delfi или Lukas). Работы в этом случае
          проводятся в течение дня (включая диагностику). 
        </li>
      </ul>
    </div>
    <div class="step__item">
      <div class="step__counter">5</div>
      <div class="step__title">Капитальный ремонт</div>
      <ul class="step__list">
        <li class="list__item">
          Если вне параметров нормы и распылитель, и клапанный узел форсунки -
          это капитальный ремонт. Капремонт требует четкого технологичного
          процесса, поэтому, в зависимости от уровня сложности самой форсунки
          + ее состояния, сроки разные
        </li>
      </ul>
    </div>
  </div>
</div>
