.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1312px;
}
.video__title {
  color: rgb(29, 32, 35);
  font-family: "Exo 2";
  font-size: 44px;
  font-weight: 700;
  text-align: left;
  margin: 0 auto;
  max-width: 1312px;
}
.video__subtitle {
  border-radius: 8px;
  color: rgb(51, 51, 51);
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 300;
  padding: 4px 10px;
  text-align: left;
  background: rgb(220, 234, 248);
  margin-bottom: 30px;
  max-width: 1312px;
  max-width: fit-content;
  margin: 0 auto;
}
.video-thumbnail {
  width: 300px;
  cursor: pointer;
  position: relative;
}

.video-thumbnail video {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.video-thumbnail:hover video {
  transform: scale(1.05);
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1312px;
}
.photo__title {
  color: rgb(29, 32, 35);
  font-family: "Exo 2";
  font-size: 44px;
  font-weight: 700;
  text-align: left;
  margin: 0 auto;
  max-width: 1312px;
}
.photo__subtitle {
  border-radius: 8px;
  color: rgb(51, 51, 51);
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 300;
  padding: 4px 10px;
  text-align: left;
  background: rgb(220, 234, 248);
  margin-bottom: 30px;
  max-width: 1312px;
  max-width: fit-content;
  margin: 0 auto;
}
.photo-thumbnail {
  width: 300px;
  cursor: pointer;
  position: relative;
}

.photo-thumbnail img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.photo-thumbnail:hover img {
  transform: scale(1.05);
}

/* Стили для модального окна */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal video {
  width: 80%;
  max-width: 1000px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
