<div class="contacts__wrapper">
  <div class="section__title">Сервисные центры</div>
  <div class="contacts">
    <div class="contacts__content">
      <div class="contacts__adress">
        МО, д. Андреевское,Индустриальный парк "Андреевское",стр. 29 Б
      </div>
      <div class="contacts__time">Ежедневно, с 10:00 до 19:00</div>
      <div class="contacts__location">
        <span>Как добраться:</span> Координаты на Google карте 55.549592,
        37.915463 Перед шлагбаумом позвоните Алексею, он его откроет +7 989
        047-77-14
      </div>
      <div class="contacts__button">Посмотреть маршрут</div>
    </div>
    <div class="contacts__map"><img src="assets/images/map.png" /></div>
  </div>
</div>
