<div class="contacts__wrapper">
  <div class="section__title">Сервисные центры</div>
  <div class="contacts">
    <div class="contacts__content">
      <div class="contacts__adress">
        МО, д. Андреевское,Индустриальный парк "Андреевское",стр. 29 Б
      </div>
      <div class="contacts__time">Ежедневно, с 10:00 до 19:00</div>
      <div class="contacts__location">
        <span>Как добраться:</span> Координаты на Google карте 55.549592,
        37.915463
        <br />
        <a href="tel:+79890477714" class="contacts__phone">+7 989 047-77-14</a>
      </div>
      <a class="contacts__button" href="https://yandex.ru/maps/-/CHULiB4X"
        >Посмотреть маршрут</a
      >
    </div>
    <div class="contacts__map">
      <img
        src="assets/images/map.png"
        href="https://yandex.ru/maps/-/CHULiB4X"
      />
    </div>
  </div>
</div>
